<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:conttext="http://www.springframework.org/schema/context"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <!--<conttext:annotation-config />-->
    <conttext:component-scan base-package="yiwa.springday_2">
    </conttext:component-scan>
    <!-- n id="guitar" class="yiwa.springday_2.Guitar"/>-->
    <!--<bean id="kenny" class="yiwa.springday_2.Instrumentalist" autowire="constructor">-->
        <!--<property name="song" value="需要人陪"/>-->
    <!--</bean>-->
    <bean id="kenny" class="yiwa.springday_2.Instrumentalist"/>
</beans>